
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Change Password</h2>
<form action="~/User/ChangePassword" method="post">
    <input type="text" required id="NewPassword" name="NewPassword"><br />
    <button class="btn btn-default" type="submit">Update</button>
</form>

